/* 改变主题色变量 */
// $--color-primary: #0b6fd6 !default;
$--color-primary: #009688  !default;
$--color-success: #11ab4e !default;
$--color-warning: #faaf2b !default;
$--color-danger: #f04038 !default;
$--color-info: #909399 !default;
$--color-text-primary: #686c78 !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
